.u-section-1 .u-sheet-1 {
  min-height: 462px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 26px 792px 0 64px;
}

.u-section-1 .u-text-2 {
  margin: 26px auto 0 64px;
}

.u-section-1 .u-image-1 {
  width: 496px;
  height: 333px;
  margin: -285px 58px 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -16px 915px 0 64px;
  padding: 13px 30px 13px 29px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -49px auto 38px 270px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 653px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 779px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 500px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 559px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 375px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 44px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 379px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 228px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 89px;
    margin-right: 179px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 13px 0 57px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 527px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 17px;
}

.u-section-2 .u-image-1 {
  height: 143px;
  width: 256px;
  margin: 6px 45px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 25px 0 13px;
}

.u-section-2 .u-text-3 {
  margin: 25px 13px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 81px 131px 0 119px;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 17px;
}

.u-section-2 .u-image-2 {
  height: 143px;
  width: 256px;
  margin: 6px 45px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 25px 0 13px;
}

.u-section-2 .u-text-5 {
  margin: 25px 13px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 81px 131px 0 119px;
  padding: 2px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 17px;
}

.u-section-2 .u-image-3 {
  height: 143px;
  width: 256px;
  margin: 6px 45px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 25px 0 13px;
}

.u-section-2 .u-text-7 {
  margin: 25px 13px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 81px 131px 0 119px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 435px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 31px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 31px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 31px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1000px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 32px;
    margin-right: 32px;
  }
}