.idiomix {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 107px;
  white-space: nowrap;
  z-index: 1;
}
.idiomix-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl-5) 0px 0px;
}
.home {
  text-decoration: none;
  width: 81px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.about-us {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 111px;
  white-space: nowrap;
}
.features {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 103px;
}
.contact {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 95px;
}
.menu {
  margin: 0;
  flex: 1;
  border-radius: var(--br-20xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-30xl) var(--padding-5xl)
    var(--padding-29xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.sign-in {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 58px;
}
.button {
  border-radius: var(--br-20xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-35xl);
  white-space: nowrap;
  z-index: 2;
}
.menu-parent {
  width: 1010px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
  font-size: var(--font-size-lg);
  font-family: var(--font-nunito);
}
.frame-parent {
  width: 1323px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.pagina-principal-inner {
  width: 1407px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-lato);
}
.connect-with {
  margin: 0;
}
.connect-with-the-container {
  margin: 0;
  width: 494px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.idiomix-empowers-language-container {
  margin: 0;
  position: relative;
  font-size: var(--font-size-6xl);
  line-height: 157.4%;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-100);
}
.sub-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.get-started {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-white);
  text-align: left;
  min-width: 98px;
}
.button2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-32xl);
  background-color: var(--color-mediumblue);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover {
  background-color: var(--color-mediumslateblue);
}
.watch-video1 {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;

  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-gray-200);
  text-align: left;
  min-width: 109px;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-20xl);
  background-color: var(--color-gray-200);
  width: 100%;
  height: 100%;
}
.vector-icon {
  position: absolute;
  height: 33.9%;
  width: 23.73%;
  top: 32.2%;
  right: 35.59%;
  bottom: 33.9%;
  left: 40.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.video {
  height: 59px;
  width: 59px;
  position: relative;
}
.watch-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-smi);
}
.video-button {
  cursor: pointer;
  border: none;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-12xl);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.display-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 606px;
  max-width: 100%;
}
.image-24-icon {
  width: 780px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.banner {
  width: 1399.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 2;
}
.banner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-38xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-56xl);
  color: var(--color-gray-200);
  font-family: var(--font-nunito);
}
.features1 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-mediumblue);
  text-align: left;
  min-width: 73px;
}
.feature {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-27xl);
  background-color: var(--color-lavender-100);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.feature:hover {
  background-color: var(--color-lavender-200);
}
.feature-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
}
.tecnologa-potente-para-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
}
.features-inner {
  width: 733px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.features-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-26-icon {
  width: 301px;
  height: 169px;
  position: relative;
  object-fit: cover;
}
.intercambio-de-idiomas {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.conecta-con-hablantes-container {
  align-self: stretch;
  height: 175px;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 157.4%;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.learn-more {
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  align-items: center;
  justify-content: center;

  text-decoration: underline;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 95px;
  white-space: nowrap;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  max-width: 100%;
}
.intercambio-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.intercambio-container {
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-57xl-8) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
}
.background1 {
  width: 453px;
  height: 658px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.stroke {
  position: absolute;
  width: calc(100% - 27.6px);
  top: 10.9px;
  right: 14.2px;
  left: 13.4px;
  border: 2px dashed var(--color-silver-100);
  box-sizing: border-box;
  height: 167.7px;
}
.image-27-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.icon {
  height: 189px;
  width: 287px;
  position: relative;
  z-index: 1;
}
.experiencias-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-22xl) var(--padding-sm);
}
.compartir-experiencias-cultura-container {
  margin: 0;
  width: 333px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.experiencias-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xl);
}
.descubre-nuevas-culturas {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 157.4%;
  color: var(--color-gray-100);
  z-index: 1;
}
.experiencias-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  flex-shrink: 0;
}

.learn-more:hover {
  font-size: var(--font-size-lg);
  color: var(--color-mediumblue);
}

.background-parent {
  width: 453px;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-88xl-6) var(--padding-13xl) var(--padding-lgi-4);
  box-sizing: border-box;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.stroke1 {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px dashed var(--color-silver-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
}
.icon1 {
  position: absolute;
  top: 32.9px;
  left: 24.1px;
  border: 2px dashed var(--color-silver-100);
  box-sizing: border-box;
  width: 250.6px;
  height: 184.5px;
}
.image-25-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 357px;
  height: 202px;
  object-fit: cover;
  z-index: 1;
}
.icon-parent {
  height: 217.4px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.videoconferencia-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-base) var(--padding-29xl-7) var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
}
.videoconferencia-integrada {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
}
.videoconferencia-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
}
.comuncate-fcilmente-en {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 157.4%;
  color: var(--color-gray-100);
}
.videoconferencia-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.videoconferencia-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  max-width: 100%;
}
.videoconferencia-container-wrapper {
  width: 388px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-8) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.intercambio-container-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-28xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.features-container {
  width: 1323px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-59xl-2);
  max-width: 100%;
}
.features-container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-18xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-200);
  font-family: var(--font-nunito);
}
.background2 {
  height: 112px;
  width: 448px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumblue);
  display: none;
  max-width: 100%;
}
.create-account {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.permissions {
  flex: 0.7;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-79xl) var(--padding-21xl);
  box-sizing: border-box;
  min-width: 308px;
  white-space: nowrap;
  max-width: 100%;
  color: var(--color-white);
}
.background3 {
  height: 112px;
  width: 446px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.permissions1 {
  flex: 0.9218;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-39xl) var(--padding-21xl);
  box-sizing: border-box;
  min-width: 308px;
  white-space: nowrap;
  max-width: 100%;
}
.background4 {
  height: 112px;
  width: 448px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.permissions2 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-20xl) var(--padding-25xl) var(--padding-21xl);
  box-sizing: border-box;
  min-width: 308px;
  white-space: nowrap;
  max-width: 100%;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-10xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.acceso-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.icon2 {
  height: 97px;
  width: 97px;
  position: relative;
}
.crear-tu-cuenta {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 241px;
  max-width: 100%;
}
.content4 {
  width: 491px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.button3 {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-32xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button3:hover {
  background-color: var(--color-dimgray);
}
.content2 {
  width: 582px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 582px;
  max-width: 100%;
}
.image-icon {
  width: 602px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.content1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-44xl) var(--padding-23xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.plans1 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-mediumblue);
  text-align: left;
  min-width: 47px;
}
.planes-container {
  width: 751px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  max-width: 100%;
}
.planes-container-wrapper {
  width: 1311px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) var(--padding-7xl);
  box-sizing: border-box;
  max-width: 100%;
}
.billing {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.pricing {
  border-radius: var(--br-20xl);
  background-color: var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-35xl);
  color: var(--color-mediumblue);
}
.paga-con-cualquier {
  margin: 0;
  width: 358px;
  position: relative;
  font-size: var(--font-size-31xl);
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.accepted-payment-methods-container {
  margin: 0;
  height: 66px;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.bg {
  height: 91px;
  width: 429px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.image-19-icon {
  align-self: stretch;
  width: 95.6px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 55px;
  z-index: 1;
}
.upi-card {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-14xl) var(--padding-lg)
    var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.payment-method {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.payment-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.payment-content-wrapper {
  width: 468px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-174xl) var(--padding-20xl) 0px 0px;
  box-sizing: border-box;
  min-width: 304px;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.background-icon {
  width: 447px;
  height: 843px;
  position: relative;
  border-radius: var(--br-11xl);
  display: none;
  max-width: 100%;
}
.basic {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 100px;
  z-index: 1;
}
.plan-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0px 0px;
}
.save-30 {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.button4 {
  border-radius: var(--br-20xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-2xl);
  white-space: nowrap;
  z-index: 1;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.plan-name {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.yearly-billing-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  z-index: 1;
}
.month1 {
  font-size: var(--font-size-xl);
}
.month {
  position: relative;
  line-height: 110%;
  font-weight: 800;
  z-index: 1;
}
.billed-as-96 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 157.4%;
  font-weight: 600;
  font-family: var(--font-nunito);
  color: var(--color-darkgoldenrod);
  text-align: left;
}
.billed-yearly {
  cursor: pointer;
  border: none;
  padding: var(--padding-7xs) var(--padding-9xl);
  background-color: var(--color-blanchedalmond);
  flex: 1;
  border-radius: var(--br-24xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.billed-yearly:hover {
  background-color: var(--color-wheat);
}
.basic-billing {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-41xl);
}
.yearly-billing {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-7);
}
.plan-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.comunicaciones-ilimitadas-tiem-container {
  align-self: stretch;
  height: 135px;
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.plan-column {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.get-started2 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-gray-200);
  text-align: left;
  min-width: 98px;
}
.button5 {
  cursor: pointer;
  border: 1px solid var(--color-lightgray);
  padding: var(--padding-4xl) var(--padding-31xl);
  background-color: transparent;
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button5:hover {
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.advanced-plan-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-12xs) 0px 0px;
}
.plans-columns {
  width: 447px;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-15xl) var(--padding-234xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.advanced {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.popular {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--font-nunito);
  color: var(--color-mediumblue);
  text-align: left;
  min-width: 66px;
}
.button6 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) var(--padding-2xl);
  background-color: var(--color-lavender-100);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.button6:hover {
  background-color: var(--color-lavender-200);
}
.billed-yearly-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-33xl);
}
.ilimitado {
  font-family: var(--font-nunito);
}
.button7 {
  cursor: pointer;
  border: none;
  padding: var(--padding-6xl) var(--padding-32xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-20xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button7:hover {
  background-color: var(--color-dimgray);
}
.plans-grid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-lgi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.acceso-container-parent {
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-60xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-gray-200);
  font-family: var(--font-nunito);
}
.background-icon2 {
  position: absolute;
  top: -246.3px;
  left: -72.3px;
  width: 2319.7px;
  height: 1291.3px;
}
.background-icon3 {
  position: absolute;
  top: 0px;
  left: 520px;
  width: 1400px;
  height: 705px;
  z-index: 0;
}
.image-29-icon {
  position: absolute;
  top: 11px;
  left: 82px;
  width: 224px;
  height: 208px;
  object-fit: cover;
  z-index: 1;
}
.image-footer {
  width: 100%;
  height: 1045px;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  left: 0px;
}
.pagina-principal {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-38xl) var(--padding-xl) var(--padding-130xl)
    var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-120xl);
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1350px) {
  .display-text {
    flex: 1;
  }

  .image-24-icon {
    flex: 1;
  }

  .banner {
    flex-wrap: wrap;
  }

  .intercambio-container-parent {
    flex-wrap: wrap;
  }

  .title {
    flex-wrap: wrap;
  }

  .content4 {
    align-self: stretch;
    width: auto;
  }

  .content2 {
    flex: 1;
  }

  .image-icon {
    flex: 1;
  }

  .content1 {
    flex-wrap: wrap;
  }

  .content-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }

  .pagina-principal {
    gap: var(--gap-50xl);
  }
}
@media screen and (max-width: 1125px) {
  .menu {
    display: none;
  }

  .menu-parent {
    width: 206px;
  }

  .plans-columns {
    padding-top: var(--padding-16xl);
    padding-bottom: var(--padding-145xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .idiomix {
    font-size: var(--font-size-5xl);
  }

  .menu {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }

  .menu-parent {
    gap: var(--gap-xl);
  }

  .connect-with-the-container {
    font-size: var(--font-size-41xl);
    line-height: 66px;
  }

  .display-text {
    gap: var(--gap-5xl);
    min-width: 100%;
  }

  .banner-wrapper {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }

  .tecnologa-potente-para-container {
    font-size: var(--font-size-21xl);
    line-height: 44px;
  }

  .features-inner {
    gap: var(--gap-mini);
  }

  .intercambio-de-idiomas {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .intercambio-container {
    padding-top: var(--padding-31xl);
    box-sizing: border-box;
  }

  .compartir-experiencias-cultura-container {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .background-parent {
    padding-top: var(--padding-51xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }

  .videoconferencia-integrada {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .intercambio-container-parent {
    gap: var(--gap-4xl);
  }

  .features-container {
    gap: var(--gap-20xl);
  }

  .acceso-container {
    gap: var(--gap-5xl);
  }

  .crear-tu-cuenta {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }

  .content4 {
    flex-wrap: wrap;
  }

  .content2 {
    gap: var(--gap-xl);
    min-width: 100%;
  }

  .planes-container {
    gap: var(--gap-mini);
  }

  .paga-con-cualquier {
    font-size: var(--font-size-21xl);
    line-height: 44px;
  }

  .accepted-payment-methods-container {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .payment-content-wrapper {
    padding-top: var(--padding-106xl);
    box-sizing: border-box;
  }

  .basic {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }

  .advanced {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }

  .acceso-container-parent {
    gap: var(--gap-20xl);
  }

  .pagina-principal {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .idiomix {
    font-size: var(--font-size-lg);
  }

  .connect-with-the-container {
    font-size: var(--font-size-26xl);
    line-height: 49px;
  }

  .idiomix-empowers-language-container {
    font-size: var(--font-size-xl);
    line-height: 31px;
  }

  .button1 {
    flex-wrap: wrap;
  }

  .tecnologa-potente-para-container {
    font-size: var(--font-size-11xl);
    line-height: 33px;
  }

  .intercambio-de-idiomas {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }

  .conecta-con-hablantes-container {
    font-size: var(--font-size-lg);
    line-height: 28px;
  }

  .content {
    gap: var(--gap-3xl);
  }

  .intercambio-inner {
    gap: var(--gap-2xl);
  }

  .compartir-experiencias-cultura-container {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }

  .descubre-nuevas-culturas {
    font-size: var(--font-size-lg);
    line-height: 28px;
  }

  .background-parent {
    gap: var(--gap-lg);
  }

  .videoconferencia-integrada {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }

  .comuncate-fcilmente-en {
    font-size: var(--font-size-lg);
    line-height: 28px;
  }

  .videoconferencia-container {
    gap: var(--gap-3xl);
  }

  .features-container {
    gap: var(--gap-xl);
  }

  .permissions {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }

  .permissions1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }

  .permissions2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .crear-tu-cuenta {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .content-wrapper {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }

  .paga-con-cualquier {
    font-size: var(--font-size-11xl);
    line-height: 33px;
  }

  .accepted-payment-methods-container {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }

  .upi-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .basic {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .plan-name {
    flex-wrap: wrap;
  }

  .month {
    font-size: var(--font-size-base);
    line-height: 35px;
  }

  .basic-billing {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .plan-details {
    gap: var(--gap-mid);
  }

  .comunicaciones-ilimitadas-tiem-container {
    font-size: var(--font-size-base);
  }

  .plan-column {
    gap: var(--gap-2xl);
  }

  .plans-columns {
    gap: var(--gap-mid);
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-88xl);
    box-sizing: border-box;
  }

  .advanced {
    font-size: var(--font-size-5xl);
    line-height: 26px;
  }

  .billed-yearly-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .acceso-container-parent {
    gap: var(--gap-xl);
  }

  .pagina-principal {
    gap: var(--gap-mid);
  }
}
